<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crud de Usuários</title>
    <link href="./css/lib/bootstrap.min.css" rel="stylesheet" />    
    <link href="./css/lib/datatables.min.css" rel="stylesheet" />
    <link href="./css/site.css" rel="stylesheet" />
    
    <script src="./js/lib/jquery.min.js"></script>    
    <script src="./js/lib/bootstrap.min.js"></script>    
    <script src="./js/lib/datatables.min.js"></script>
	
    <script src="./js/util.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <h3>CRUD USUÁRIOS</h3>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        </div>
    </footer>
    <script src="./js/city.js"></script>
    <script src="./js/uf.js"></script>
    <script src="./js/user.js"></script>
    <script src="./js/index.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
